/* JAI SHREE RAM */

:root{
    --direction: 0deg;
}

.wrapper::after {
    content: '';
    width: 1000%;
    height: 1000%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: -1;
    /* padding: 3px; */
    background: conic-gradient(
        from 0deg, 
        #ff5f6d,
        #ffc371,
        #ffd700,
        #32cd32,
        #00fa9a,
        #1e90ff,
        #9370db,
        #ff5f6d
    );
    border-radius: 10px;
    animation: rotateFull 2s linear infinite;
}

.wrapper::before{
    filter: blur(60px);
}

@keyframes rotateFull {
    0%{
        transform: translate(-50% , -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50% , -50%) rotate(360deg);
    }
}