/* Jai Shree Ram */

@property --loaderAngle{
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

*{
    margin: 0;
    padding: 0;
}

html , body {
    width: 100%;
    height: 100%;
}

.gold{
    position: relative;
    border-radius: 0.75rem;
    width: 600px;
    height: 600px;
    background: #000;
    box-sizing: unset;
}


.gold::after ,
.gold::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: -1;
    padding: 3px;
    --loaderAngle: 0deg;
    background: conic-gradient(
        from var(--loaderAngle), 
        #ff5f6d,
        #ffc371,
        #ffd700,
        #32cd32,
        #00fa9a,
        #1e90ff,
        #9370db,
        #ff5f6d
        );
    border-radius: inherit;
    animation: rotateFull 2s linear infinite;
    box-sizing: unset;
}

.gold::after{
    filter: blur(20px);
}


@keyframes rotateFull {
    from{
        --loaderAngle: 0deg;
    }
    to{
        --loaderAngle: 360deg;
    }
}